.mainPage {
  padding: 42px calc(50% - 500px);
  display: flex;
  justify-content: space-between;
}

.movies {
  width: 50%;
  min-width: 100px;
  color: white;
}

.favorites div:first-child {
  border: 1px solid red;
  padding: 30px 20px;
  background-color: rgb(212, 211, 211);
}

@media (max-width: 664px) {
  .favorites {
    margin-top: 180px;
  }

  .mainPage {
    flex-direction: column;
    justify-content: baseline;
    align-content: center;
  }
}

@media (max-width: 530px) {
  .movies {
    width: 70%;
  }
}

@media (max-width: 320px) {
  .mainPage {
    padding: 5px 10px;
    align-content: flex-start;
  }
}
